<%= form_with model: [@organization, proposal] do |form| %>
    <div>
      <%= form.text_field :title, placeholder: "Title" %>
    </div>

    <div>
      <%= form.text_area :description, placeholder: "Description" %>
    </div>

    <div>
      <%= form.submit "Create Proposal" %>
    </div>
<% end %>