<%= turbo_stream_from "organization_#{@organization.id}_proposals" %>

<h1>Proposals</h1>

<%= turbo_frame_tag "new_proposal" do %>
  <%= render "form", proposal: @proposal %>
<% end %>

<hr>

<div id="proposals">
  <%= render @proposals %>
</div>